@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

p {
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #131313;
}

ul {
	margin: 0;
	list-style: none;
}

li {
	padding-left: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1220px;
	/*добавили +20 пикселей от внутренних отступов*/
	padding: 0 10px;
	margin: 0 auto;
}

/* Header 
================================*/

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	margin-right: 70px;
}

.menu__list {
	display: flex;
}

.menu__item+.menu__item {
	/*добавляет паддинги только если его сосед - меню айтем. Другими словами - всем, кроме первого*/
	padding-left: 10px;
}

.menu__link {
	text-transform: uppercase;
	padding: 43px 20px;
	transition: all .2s linear;
}

.menu__link:hover {
	background-color: #131313;
	color: #fff;
}

/*Section-bike
=============================*/

.bike {
	padding: 100px 0;
}

.bike__inner {
	display: flex;
	justify-content: space-between;
}

.bike__title {
	margin: 60px 0 5px;
	font-weight: 700;
	font-size: 62px;
	line-height: 77px;
}

.bike__subtitle {
	margin: 0 0 60px;
	color: #6f6f6f;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
}

.bike__text {
	max-width: 420px;
	margin-bottom: 20px;
	line-height: 120%;
}

.bike__link {
	display: inline-block;
	margin-top: 80px; /*схлопывание марджинов, выигрывает большее значение*/
	background-color: #131313;
	color: #fff;

	padding: 28px 81px;
	text-transform: uppercase;

	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1.1em;
	transition: all .1s linear;
}

.bike__link:hover {
	background-color: #ff4040;
}

.bike__column-slider {
	flex-basis: 630px;
	max-width: 630px;
	margin-left: 30px;
}

/*Slider*/

.bike-slider .slick-dots {
	right: 0;
	top: 50px;
}

.slick-dots {
	position: absolute;
}

.slick-dots li + li {
	padding-top: 10px;
}

.slick-dots button {
	font-size: 0;
	padding: 0;
	border: none;
	background-color: #131313;
	width: 2px;
	height: 25px;
	border-radius: 7px;
	cursor: pointer;
	transition: all .3s;
}


.slick-dots button:hover, 
.slick-active button {
	background-color: #ff4040;
}

.bike__list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bike__list-num {
	text-transform: uppercase;
	font-weight: 700;
}

.bike__list-item {
	min-width: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-height: 58px;
}

.bike__list-text {
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
	margin: auto 0;
}


/*Info
=================================*/

.info {
	margin-bottom: 150px;
}

.info__inner {
	display: flex;
} 

.info__img {
	margin-right: 60px;
	flex-basis: 570px;
	object-fit: cover;
}

.info__list {
	flex-basis: 490px;
}

.info__item + .info__item {
	padding-top: 50px;
}

.info__item-title {
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	margin: 0 0 10px;
}

.info__item-text {
	max-width: 450px;
}

/*Characteristics
=============================================*/